<div class="row">
  <div style="margin-bottom: -60px"><span class="spin spin-left"><a href="#" title="3 aus n Rezepten">&lsaquo;</a></span><span class="spin spin-right"><a href="#" title="3 aus n Rezepten">&rsaquo;</a></span></div>
  <div class="span12">
    <!-- TODO: Rezeptvorschläge -->
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <p class="thumbnail">
            <img src="<%= asset_path 'placeholder.png' %>" alt="Platzhalter" />
          </p>
          <h4 class="titel">Afrikanischer Kartoffelsalat</h4>
          <p>
            <span class="label"><span class="starsyellow">&#x2605;&#x2605;&#x2605;</span><span class="starsgray">&#x2605;&#x2605;</span></span>
            <span class="label">40 min</span>
            <span class="label">simpel</span>
          </p>
          <p style="height:80px">Nullam quis risus eget urna mollis vel eu leo. Nibh ultricies vehicula ...</p>
          <a class="btn btn-info" href="rezept.html">Mehr</a>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <p class="thumbnail">
            <img src="<%= asset_path 'placeholder.png' %>" alt="Platzhalter" />
          </p>
          <h4 class="titel">Rezept 2</h4>
          <p>
            <span class="label"><span class="starsyellow">&#x2605;&#x2605;&#x2605;&#x2605;</span><span class="starsgray">&#x2605;</span></span>
            <span class="label">20 min</span>
            <span class="label">simpel</span>
          </p>
          <p style="height:80px">Nullam quis risus eget urna mollis vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ...</p>
          <a class="btn btn-info" href="rezept.html">Mehr</a>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <p class="thumbnail">
            <img src="<%= asset_path 'placeholder.png' %>" alt="Platzhalter" />
          </p>
          <h4 class="titel">Rezept 3</h4>
          <p>
            <span class="label"><span class="starsyellow">&#x2605;&#x2605;&#x2605;</span><span class="starsgray">&#x2605;&#x2605;</span></span>
            <span class="label">90 min</span>
            <span class="label">leicht</span>
          </p>
          <p style="height:80px">Nullam quis risus eget urna mollis vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ...</p>
          <a class="btn btn-info" href="rezept.html">Mehr</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span6">
    <!-- TODO: Schlagwortsuche -->
    <div class="muted" style="text-align: justify">
      <div class="tag tag-success">&#10004;</div>
      <span style="font-size:12pt">Nullam</span> <span style="font-size:16pt">quis</span> <span style="font-size:24pt">risus</span> <span style="font-size:14pt">eget</span> <span style="font-size:14pt">urna</span> <span style="font-size:11pt">mollis</span> <span style="font-size:12pt">ornare</span> <span style="font-size:16pt">vel</span> <span style="font-size:18pt">eu</span> <span style="font-size:14pt">leo</span> <span style="font-size:22pt">Cum</span> <span style="font-size:10pt">sociis</span> <span style="font-size:10pt">natoque</span> <span style="font-size:14pt">penatibus</span> <span style="font-size:18pt">et</span> <span style="font-size:14pt">magnis</span> <span style="font-size:12pt">dis</span> <span style="font-size:14pt">parturient</span> <span style="font-size:24pt">montes</span> <span style="font-size:20pt">nascetur</span> <span style="font-size:14pt">ridiculus</span> <span style="font-size:14pt">mus</span> <span style="font-size:12pt">Nullam</span> <span style="font-size:10pt">id</span> <span style="font-size:10pt">dolor</span> <span style="font-size:16pt">id</span> <span style="font-size:19pt">nibh</span> <span style="font-size:18pt">ultricies</span> <span style="font-size:16pt">vehicula</span>
      <span style="font-size:12pt">Nullam</span> <span style="font-size:16pt">quis</span> <span style="font-size:24pt">risus</span> <span style="font-size:14pt">eget</span> <span style="font-size:14pt">urna</span> <span style="font-size:11pt">mollis</span> <span style="font-size:12pt">ornare</span> <span style="font-size:16pt">vel</span> <span style="font-size:18pt">eu</span> <span style="font-size:14pt">leo</span> <span style="font-size:22pt">Cum</span> <span style="font-size:10pt">sociis</span> <span style="font-size:10pt">natoque</span> <span style="font-size:14pt">penatibus</span> <span style="font-size:18pt">et</span> <span style="font-size:14pt">magnis</span> <span style="font-size:12pt">dis</span> <span style="font-size:14pt">parturient</span> <span style="font-size:24pt">montes</span> <span style="font-size:20pt">nascetur</span> <span style="font-size:14pt">ridiculus</span> <span style="font-size:14pt">mus</span> <span style="font-size:12pt">Nullam</span> <span style="font-size:10pt">id</span> <span style="font-size:10pt">dolor</span> <span style="font-size:16pt">id</span> <span style="font-size:19pt">nibh</span> <span style="font-size:18pt">ultricies</span> <span style="font-size:16pt">vehicula</span>
    </div>
  </div>
  <div class="span6">
    <div class="muted" style="text-align: justify">
      <div class="tag tag-error">&#10008;</div>
      <span style="font-size:18pt">et</span> <span style="font-size:14pt">magnis</span> <span style="font-size:12pt">dis</span> <span style="font-size:14pt">parturient</span> <span style="font-size:24pt">montes</span> <span style="font-size:20pt">nascetur</span> <span style="font-size:14pt">ridiculus</span> <span style="font-size:14pt">mus</span> <span style="font-size:12pt">Nullam</span> <span style="font-size:10pt">id</span> <span style="font-size:10pt">dolor</span> <span style="font-size:16pt">id</span> <span style="font-size:19pt">nibh</span> <span style="font-size:18pt">ultricies</span> <span style="font-size:16pt">vehicula</span>
    </div>
  </div>
</div>

