<% if display_only %>
<% 5.times do |i| %><% if i < rating.to_i %><span class="starsyellow">&#x2605;</span><% else %><span class="starsgray">&#x2605;</span><% end %><% end %>
<% else %>
<% if signed_in? %>
<% 5.times do |i| %><% if @recipe.user.id == current_user.id %>&#x2606;<% else %><%= link_to(recipes_votes_edit_path(@recipe.id, i+1)) do %>&#x2606;<% end %><% end %><% end %>
<% else %>&#x2606;&#x2606;&#x2606;&#x2606;&#x2606;
<% end %>
 <%= rating.to_i %>.<span style="font-size: 75%"><%= ((rating-rating.to_i)*100).to_i %></span>
<% end %>
