/* Close User menu */
$("body").click();

/* Create Change Password Form */
var $form = $('<%=j render partial: 'users/change_password' %>');
var $signon = $('#signon');

$form.prepend('<div style="position:absolute; top: 0; left:0; width:100%; height: '+$(document).height()+'px; background-color:gray; opacity: .8;"></div>')
if ($signon.length) {
  $signon.html($form)
} else {
  $('body').append($form)
}
$('#formChangePassword').hide().fadeIn(850);
$('#cancel').click(function() {$('#formChangePassword').fadeOut(850)});
$('#commit').click(function() {$('#formChangePassword').fadeOut(850)});
