<% if individuum.errors.any? %>
  <div class="alert alert-error" style="margin: 8px">
    <ul>
    <% individuum.errors.each do |field, msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
