<% if individuum.errors.any? %>
  <div class="alert alert-error" style="margin: 8px">
    <ul>
    <% individuum.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
