<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
          <div class="span6 muted credit" style="padding-top: 8px">
            Programmierung &amp; Design: <a href="mailto:marcus.petzoldt@gmail.com">Marcus Petzoldt</a>
          </div>
          <div class"span6 nav-collapse collapse">
            <ul class="nav pull-right">
              <li><%= link_to 'Hilfe', landing_pages_help_path %></li>
              <li><%= link_to 'Kontakt', landing_pages_about_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
