<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to(root_path, id: 'logo', class: 'brand') do %>
        <span style="color:yellow; font-weight:600">q</span>och<span style="color:yellow; font-weight:600">b</span>uch
      <% end %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><%= link_to(root_path) do %><i class="icon-home icon-white"></i>&nbsp;Home<% end %></li>
          <!-- TODO: Anmeldeprozedur -->
          <li><%= link_to(new_user_path, remote: true) do %><i class="icon-lock icon-white"></i>&nbsp;Anmelden<% end %></li>
          <!--
          <li><%= link_to(new_user_path) do %><i class="icon-lock icon-white"></i>&nbsp;Anmelden<% end %></li>
          -->
        </ul>
      </div>
      <form class="navbar-form pull-right">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-search"></i></span>
          <!-- TODO Volltextsuche -->
          <input class="span4" type="text" placeholder="Suche" />
          <button class="btn" type="button">Los!</button>
        </div>
      </form>
    </div>
  </div>
</div>
